<!DOCTYPE html>
<html>
<head>
<title>BrickChess0.5</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="http://harysdalvi.com/main.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YPKKGJ4J3K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-YPKKGJ4J3K');
</script>
<style>
#boardHolder {
    text-align: center;
}
</style>
<base href="http://harysdalvi.com/sub/chess/">
</head>
<body>
<h1 class="title">BrickChess0.5</h1>
<h3 class="author">
    <a href="http://harysdalvi.com">Harys Dalvi</a>
</h3>
<h3 class="date">August 2021</h3>
<br>
<p>An online chess engine</p>

<form name="settings" action="javascript:void(0)">
<b>White:</b> <select name="white">
    <option value="0" selected>Human</option>
    <option value="1">AI (minimax)</option>
    <!-- <option value="2">AI (neural network)</option>
    <option value="3">AI (neural network policy)</option>
    <option value="4">AI (hybrid)</option> -->
</select><br>
<b>Black:</b> <select name="black">
    <option value="0">Human</option>
    <option value="1" selected>AI (minimax)</option>
    <!-- <option value="2">AI (neural network)</option>
    <option value="3">AI (neural network policy)</option>
    <option value="4">AI (hybrid)</option> -->
</select><br>
<b>Time:</b> <select name="time">
    <option value="1">1</option>
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10" selected>10</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="-100">Unlimited</option>
</select><br>
<b>Increment:</b> <select name="increment">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="5">5</option>
    <option value="10">10</option>
</select><br>
<button action="javascript:void(0)" onclick="startFromForm()">Start</button>
</form><br>

<div id="boardHolder">
<canvas id="board"></canvas>
</div><br><br><br>

<div id="footer"></div>
<script src="static/main.js"></script>
<script src="http://harysdalvi.com/services.js"></script>
<script>
darkTheme();

setAnchors();
</script>
</body>
</html>